rh|multiSelect{ /* main div */
    display: inline-block;
}
rh|multiSelect::content { /* list that holds items */
    list-style: none;
    padding: 0;
    margin: 0;
}
rh|multiSelect::item { /* li for each item */
    display: inline-block;
    padding: 3px 3px 1px 0px;
    position: relative; /* make this a positioning container */
}
rh|multiSelect::item-content { /* button representing an item */
    -tr-rule-ref:selector(".AFDefaultFont:alias");
    border-width: 1px;
    border-style: solid;
    margin: 1px;
    padding: 0px 20px 0px 5px;  /* 20px right for delete icon */
    border-radius: 3px;
}
rh|multiSelect::item-delete { /* span for delete icon */
    position: absolute;
    right: 4px;
    bottom: 2px;
    width: 16px;
    height: 16px;
    display: inline-block;
    font-weight: bold;
}
rh|multiSelect::item-delete:after {
    content: '\00d7';
}